{% extends 'core/base.html' %}
{% load crispy_forms_tags %}
{% crispy form form.helper %}

<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Rejestracja</title>
</head>

<body>

{% block content %}
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<h1>Rejestracja</h1>

<div style="width:800px; margin:0 auto; padding-bottom:100px;">
    <form method="post" class="form-horizontal1">
    {% csrf_token %}
    {{ form|crispy }}
    <input value="Zarejestruj " type="submit" class="btn btn-primary btn-lg" style="center">
    </form>
</div>


{% endblock %}
</body>
</html>