{% extends 'core/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
   <!-- Basic -->
   <head>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <!-- Mobile Metas -->
   <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
   <!-- Site Metas -->
   <title>About</title>
   <meta name="keywords" content="">
   <meta name="description" content="">
   <meta name="author" content="">
   <!-- Site Icons -->
   <link rel="shortcut icon" href="" type="image/x-icon" />
   <link rel="apple-touch-icon" href="">
   <!-- Bootstrap CSS -->
   <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
   <!-- Site CSS -->
   <link rel="stylesheet" href="{% static 'style.css' %}">
   <!-- Responsive CSS -->
   <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
   <!-- Custom CSS -->
   <link rel="stylesheet" href="{% static 'css/custom.css' %}">
   <!-- font family -->
   <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
   <!-- end font family -->
   <link rel="stylesheet" href="{% static 'css/3dslider.css' %}" />
   <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
   <link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
   <script src="js/3dslider.js"></script>
   </head>

   <body class="game_info" data-spy="scroll" data-target=".header">
      <!-- LOADER -->
      <div id="preloader">
         <img class="preloader" src="{% static 'images/loading-img.gif' %}" alt="">
      </div>
      <!-- END LOADER -->

      {% block content %}
      <section id="contant" class="contant main-heading" style="padding-bottom:0;margin-bottom:-1px;position:relative;z-index:1;">
         <div class="aboutus">
            <div class="container">
               <div class="row">
                  <div class="col-md-12 col-sm-12">
                     <div class="col-md-7 col-sm-7 col-xs-12">
                        <div class="full">
                           <h3>Klub Sportowy Piast Człuchów</h3>
                           <p style="font-size: 18px">Rok założenia: 1945</p>
                           <p style="font-size: 18px">Barwy: niebiesko-białe</p>
                           <p style="font-size: 18px">Adres: Szkolna 1, 77-300 Człuchów</p>
                           <p style="font-size: 18px">Stadion: OSiR</p>
                           <p style="font-size: 18px">Sukcesy Puchar Polski - OZPN Koszalin - 1952 17. miejsce w III lidze - 1996/97</p>
                           <p style="font-size: 18px">Ciekawostka: W 1952 roku klub występował pod nazwą Budowlani Człuchów</p>

                        </div>
                     </div>
                     <div class="col-md-5 col-sm-5 col-xs-12">
                        <img class="img-responsive" src="{% static 'images/zespol.jpg' %}" alt="#" />
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="dark-section" style="background:url(images/walle.jpg)">
            <div class="container">
               <div class="row">
                  <div class="col-md-12 col-sm-12">
                     <div class="heading-main">
                        <h2>Cytaty ludzi, którzy nie mają nic wspólnego z Piastem Człuchów</h2>
                     </div>
                     <div class="testimonial-slider" style="padding-top:0px;">
                        <div class="carousel slide" data-ride="carousel" id="quote-carousel">
                           <!-- Carousel Slides / Quotes -->
                           <div class="carousel-inner text-center">
                              <!-- Quote 1 -->
                              <div class="item active">
                                 <blockquote>
                                    <div class="row">
                                       <div class="col-sm-10 col-sm-offset-1">
                                          <p style="font-size:20px;"><i>Kiedy mewy podążają za kutrem rybackim,
                                             robią to dlatego, ponieważ myślą, że ryby zostaną wrzucone wprost
                                             do morza</i> </p>
                                          <small><b>Eric Cantona</b></small>
                                       </div>
                                    </div>
                                 </blockquote>
                              </div>
                              <!-- Quote 2 -->
                              <div class="item">
                                 <blockquote>
                                    <div class="row">
                                       <div class="col-sm-10 col-sm-offset-1">
                                          <p style="font-size:20px;"><i>Piłka jest okrągła, a bramki są dwie.</i></p>
                                          <small><b>Kazimierz Górski</b></small>
                                       </div>
                                    </div>
                                 </blockquote>
                              </div>
                              <!-- Quote 3 -->
                              <div class="item">
                                 <blockquote>
                                    <div class="row">
                                       <div class="col-sm-10 col-sm-offset-1">
                                          <p style="font-size:20px;"><i>Jeśli tam była ręka, to była to ręka Boga.</i></p>
                                          <small><b>Diego Maradona</b></small>
                                       </div>
                                    </div>
                                 </blockquote>
                              </div>
                           </div>
                           <!-- Bottom Carousel Indicators -->
                           <ol class="carousel-indicators">
                              <li data-target="#quote-carousel" data-slide-to="0" class="active"><img class="img-responsive " src="https://s3.amazonaws.com/uifaces/faces/twitter/mantia/128.jpg" alt="">
                              </li>
                              <li data-target="#quote-carousel" data-slide-to="1"><img class="img-responsive" src="https://s3.amazonaws.com/uifaces/faces/twitter/adhamdannaway/128.jpg" alt="">
                              </li>
                              <li data-target="#quote-carousel" data-slide-to="2"><img class="img-responsive" src="https://s3.amazonaws.com/uifaces/faces/twitter/brad_frost/128.jpg" alt="">
                              </li>
                           </ol>
                           <!-- Carousel Buttons Next/Prev -->
                           <a data-slide="prev" href="#quote-carousel" class="left carousel-control"><i class="fa fa-chevron-left"></i></a>
                           <a data-slide="next" href="#quote-carousel" class="right carousel-control"><i class="fa fa-chevron-right"></i></a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      {% endblock %}

      <a href="#home" data-scroll class="dmtop global-radius"><i class="fa fa-angle-up"></i></a>
      <!-- ALL JS FILES -->
      <script src="{% static 'js/all.js' %}"></script>
      <!-- ALL PLUGINS -->
      <script src="{% static 'js/custom.js' %}"></script>
   </body>
</html>