{% load static %}

<!DOCTYPE html>
<html lang="pl">
   <!-- Basic -->
   <head>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <!-- Mobile Metas -->
   <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
   <!-- Site Metas -->
   <title>MKS Piast - strona główna</title>
   <meta name="keywords" content="">
   <meta name="description" content="">
   <meta name="author" content="">
   <!-- Site Icons -->
   <link rel="shortcut icon" href="" type="image/x-icon" />
   <link rel="apple-touch-icon" href="">
   <!-- Bootstrap CSS -->
   <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
   <!-- Site CSS -->
   <link rel="stylesheet" href="{% static 'style.css' %}">
   <!-- Colors CSS -->
   <link rel="stylesheet" href="{% static 'css/colors.css' %}">
   <!-- ALL VERSION CSS -->
   <link rel="stylesheet" href="{% static 'css/versions.css' %}">
   <!-- Responsive CSS -->
   <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
   <!-- Custom CSS -->
   <link rel="stylesheet" href="{% static 'css/custom.css' %}">
   <!-- font family -->
   <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
   <!-- end font family -->
   <link rel="stylesheet" href="{% static 'css/3dslider.css' %}" />
   <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
   <link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
   <script src="{% static 'js/3dslider.js' %}"></script>
   </head>
   <body class="game_info" data-spy="scroll" data-target=".header">
      <!-- LOADER -->
      <div id="preloader">
         <img class="preloader" src="{% static 'images/loading-img.gif' %}" alt="">
      </div>
      <!-- END LOADER -->
      <section id="top">
         <header>
            <div class="container">
               <div class="header-top">
                  <div class="row">
                     <div class="col-md-6">
                        <div class="full">
                           <div class="logo">
                              <a href="{% url 'index' %}"><img src="{% static 'images/banner.jpg' %}" alt="#" /></a>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-6">
                        <div class="right_top_section">
                           <!-- social icon -->
                           <ul class="social-icons pull-left">
                              <li><a class="facebook" href="https://www.facebook.com/Piast-Cz%C5%82uch%C3%B3w-164465610242848/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                              <li><a class="twitter" href="https://twitter.com/piastczluchow" target="_blank"><i class="fa fa-twitter"></i></a></li>

                              {% comment %}
                              <li><a class="youtube" href="#"><i class="fa fa-youtube-play"></i></a></li>
                              <li><a class="pinterest" href="#"><i class="fa fa-pinterest-p"></i></a></li>
                              {% endcomment %}

                           </ul>
                           <!-- end social icon -->
                           <!-- button section -->
                           {% if user.is_authenticated %}
                           <ul class="login">
                              <li class="login-modal">
                                 <a href="{% url 'logout' %}" class="login"><i class="fa fa-user"></i>Wyloguj {{ user }}</a>
                              </li>
                           </ul>

                           {% else %}
                            <ul class="login">
                              <li class="login-modal">
                                 <a href="{% url 'login' %}" class="login"><i class="fa fa-user"></i>Logowanie</a>
                              </li>
                              <li>
                                 <div class="cart-option">
                                    <a href="{% url 'register' %}"><i class="fa fa-shopping-cart"></i>Rejestracja</a>
                                 </div>
                              </li>
                           </ul>
                           {% endif %}
                           <!-- end button section -->
                        </div>
                     </div>
                  </div>
               </div>

               <div class="header-bottom">
                  <div class="row">
                     <div class="col-md-12">
                        <div class="full">
                           <div class="main-menu-section">
                              <div class="menu">
                                 <nav class="navbar navbar-inverse">
                                    <div class="navbar-header">
                                       <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".js-navbar-collapse">
                                       <span class="sr-only">Toggle navigation</span>
                                       <span class="icon-bar"></span>
                                       <span class="icon-bar"></span>
                                       <span class="icon-bar"></span>
                                       </button>
                                       <a class="navbar-brand" href="#">Menu</a>
                                    </div>
                                    <div class="collapse navbar-collapse js-navbar-collapse">
                                       <ul class="nav navbar-nav">
                                          <li class="active"><a href="#article">Aktualności</a></li>
                                          <li><a href="#">Klub</a></li>
                                          <li><a href="{% url 'players' %}">Skład</a></li>
                                          <li><a href="http://www.pomorskifutbol.pl/liga.php?id=1309" target="_blank">Terminarz</a></li>
                                          <li><a href="#">Sponsorzy</a></li>

                                          {% comment %}
                                          <li class="dropdown mega-dropdown">
                                             <a href="match" class="dropdown-toggle" data-toggle="dropdown">Match<span class="caret"></span></a>
                                             <ul class="dropdown-menu mega-dropdown-menu">
                                                <li class="col-sm-8">
                                                   <ul>
                                                      <li class="dropdown-header"></li>
                                                      <div id="menCollection" class="carousel slide" data-ride="carousel">
                                                         <div class="carousel-inner">
                                                            <div class="item active">
                                                               <div class="banner-for-match"><a href="#"><img class="img-responsive" src="{% static 'images/match-banner1.jpg' %}" alt="#" /></a></div>
                                                            </div>
                                                            <!-- End Item -->
                                                            <div class="item">
                                                               <div class="banner-for-match"><a href="#"><img class="img-responsive" src="{% static 'images/match-banner1.jpg' %}" alt="#" /></a></div>
                                                            </div>
                                                            <!-- End Item -->
                                                            <div class="item">
                                                               <div class="banner-for-match"><a href="#"><img class="img-responsive" src="{% static 'images/match-banner1.jpg' %}" alt="#" /></a></div>
                                                            </div>
                                                            <!-- End Item -->
                                                         </div>
                                                         <!-- End Carousel Inner -->
                                                         <!-- Controls -->
                                                         <a class="left carousel-control" href="#menCollection" role="button" data-slide="prev">
                                                         <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                                         <span class="sr-only">Previous</span>
                                                         </a>
                                                         <a class="right carousel-control" href="#menCollection" role="button" data-slide="next">
                                                         <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                                         <span class="sr-only">Next</span>
                                                         </a>
                                                      </div>
                                                      <!-- /.carousel -->
                                                   </ul>
                                                </li>
                                                <li class="col-sm-4">
                                                   <ul class="menu-inner">
                                                      <li class="dropdown-header">Next Matchs</li>
                                                      <li><a href="#">Contrary vs classical</a></li>
                                                      <li><a href="#">Discovered vs undoubtable</a></li>
                                                      <li><a href="#">Contrary vs classical</a></li>
                                                      <li><a href="#">Discovered vs undoubtable</a></li>
                                                      <li><a href="#">Contrary vs classical</a></li>
                                                      <li><a href="#">Discovered vs undoubtable</a></li>
                                                      <li><a href="#">Contrary vs classical</a></li>
                                                      <li><a href="#">Discovered vs undoubtable</a></li>
                                                   </ul>
                                                </li>
                                             </ul>
                                          </li>
                                          {% endcomment %}

                                          <li><a href="#kontakt">Kontakt</a></li>
                                          <li><a href="#">Forum</a></li>
                                          <li><a href="#">Galeria</a></li>
                                          <li><a href="#">Rozgrywki ligowe</a></li>
                                          <li><a href="#">Juniorzy</a></li>
                                          {% if request.user.is_staff %}
                                             <li><a href="{% url 'admin_list' %}">Admin</a></li>
                                          {% endif %}
                                       </ul>
                                    </div>
                                    <!-- /.nav-collapse -->
                                 </nav>

                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </header>
         <div class="full-slider">
            <div id="carousel-example-generic" class="carousel slide">
               <!-- Indicators -->
               <!-- Wrapper for slides -->
               <div class="carousel-inner" role="listbox">
                  <!-- First slide -->
                  <div class="item active deepskyblue" data-ride="carousel" data-interval="5000">
                     <div class="carousel-caption">
                        <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12"></div>
                        <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                           <div class="slider-contant" data-animation="animated fadeInRight">
                              <h3>Wszyscy jesteśmy <span>Biało -</span>
                                 <span style="color:#4d79ff">Niebiescy</span>!</h3>
                              <p style="font-size:20px">Strona poświęcona klubowi piłkarskiemu Piast Człuchów</p>

                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <!-- /.carousel-inner -->
               <!-- Controls -->
               <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
               <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
               <span class="sr-only">Previous</span>
               </a>
               <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
               <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
               <span class="sr-only">Next</span>
               </a>
            </div>
            <!-- /.carousel -->

         </div>
      </section>

      <div class="news">
               <div class="container">
                  <div class="heading-slider">
                     <p class="headline"><i class="fa fa-star" aria-hidden="true"></i> Najnowszy artykuł :</p>
                     <!--made by vipul mirajkar thevipulm.appspot.com-->
                     <h1>

                     {% if latest_article %}
                        <a href="{% url 'article_detail' pk=latest_article.pk %}" class="typewrite" data-period="2000" data-type='[ "1", ]'>
                           {{ latest_article.title }}</a>
                     {% endif %}

                     <span class="wrap"></span>

                     </h1>
                     <span class="wrap"></span>

                  </div>
               </div>
            </div>

      <div class="matchs-info">
         <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="row">
               <div class="full">
                  <div class="matchs-vs">
                     <div class="vs-team">
                        <div class="team-btw-match" style="">
                           {% for i in piast_next_match %}
                              <ul>
                                 <li>
                                    <img src="{{MEDIA_URL}}{{i.home_team.logo}}" alt="">
                                    <span>{{ i.home_team }} </span>
                                 </li>

                                 <li class="vs">
                                    <span>VS</span>
                                 </li>

                                 <li>
                                    <img src="{{MEDIA_URL}}{{i.away_team.logo}}" alt="">
                                    <span style="">{{ i.away_team }} </span>
                                 </li>
                              </ul>
                           {% endfor %}
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="row">
               <div class="full">
                  <div class="right-match-time">
                     {% for i in piast_next_match %}
                        <h2>Następny mecz</h2>
                        <ul id="countdown-1" class="countdown">
                           <li><span class="days">{{ days }} </span></li>
                           <li><span class="hours">{{ hours }}  </span></li>
                           <li><span class="minutes">{{ minutes }} </span></li>
                        </ul>
                        <span>{{ piast_next_match_date }}</span>
                     {% endfor %}
                  </div>
               </div>
            </div>
         </div>
      </div>

      <section id="contant" class="contant">
         <div class="container">
            <div class="row">
               <div class="col-lg-4 col-sm-4 col-xs-12">

                  {% comment %}
                  <aside id="sidebar" class="left-bar">
                     <div class="banner-sidebar">
                        <img class="img-responsive" src="{% static 'images/img-05.jpg' %}" alt="#" />
                        <h3>Miejsce na reklamę</h3>
                     </div>
                  </aside>
                  {% endcomment %}

                  <h4>{{ next_match_week }}. kolejka</h4>
                  <aside id="sidebar" class="left-bar">
                     <div class="feature-matchs">
                        <div class="team-btw-match">
                           {% for match in matches_test %}
                              {% if match.match_week == next_match_week %}
                                 <ul>
                                    <li>
                                       <img src="{{MEDIA_URL}}{{match.home_team.logo}}" alt="">
                                       <span>{{ match.home_team }}</span>
                                    </li>

                                    <li class="vs"><span>{{ match.home_team_goals }} : {{ match.away_team_goals }}</span></li>

                                    <li>
                                       <img src="{{MEDIA_URL}}{{match.away_team.logo}}" alt="">
                                       <span>{{ match.away_team }}</span>
                                    </li>
                                    <li class="vs"><span>{{ match.date }}</span></li>
                                 </ul>

                              {% endif %}

                           {% endfor %}
                        </div>
                     </div>
                  </aside>

                  <h4 style="padding-top:35px;">Tabela</h4>
                  <aside id="sidebar" class="left-bar">
                     <div class="feature-matchs">
                        <table class="table table-bordered table-hover">
                           <thead>
                              <tr>
                                 <th>M.</th>
                                 <th>Drużyna</th>
                                 <th>M</th>
                                 <th>PKT</th>
                                 <th>Z</th>
                                 <th>R</th>
                                 <th>P</th>
                                 <th>Bramki</th>
                              </tr>
                           </thead>
                           <tbody>
                           {% for team in teams %}
                              <tr>
                                 <td>{{ forloop.counter }}</td>
                                 <td>{{ team.name }}</td>
                                 <td>{{ team.matches }}</td>
                                 <td>{{ team.points }}</td>
                                 <td>{{ team.win }}</td>
                                 <td>{{ team.draw }}</td>
                                 <td>{{ team.loose }}</td>
                                 <td>{{ team.goals_shot }}-{{ team.goals_lost }}</td>
                              </tr>
                           {% endfor %}
                           </tbody>
                        </table>
                     </div>
                  </aside>

                  {% comment %}
                  <div class="content-widget top-story" style="background: url(images/top-story-bg.jpg);">
                     <div class="top-stroy-header">
                        <h2>Linki do innych stron / Reklamy <a href="#" class="fa fa-fa fa-angle-right"></a></h2>
                        <span class="date">July 05, 2017</span>
                     </div>
                     <ul class="other-stroies">
                        <li><a href="#">Wenger Vardy won't start</a></li>
                        <li><a href="#">Wenger Vardy won't start</a></li>

                     </ul>
                  </div>
                  {% endcomment %}
                  
               </div>
               <div class="col-lg-8 col-sm-8 col-xs-12">
                  <div class="news-post-holder">
                     {% for article in articles_3 %}
                     <div class="news-post-widget" id="article">
                        {% comment %}
<!--                        Można też w poniższy sposób:-->
                        <img class="img-responsive" src="{{MEDIA_URL}}{{article.image}}" alt="">
                        {% endcomment %}
                        {% if article.image %}
                           <a href="{% url 'article_detail' pk=article.pk %}"><img class="img-responsive" src="{{ article.image.url }}" alt=""></a>
                        {% endif %}
                        <div class="news-post-detail">
                           <span class="date">{{ article.published_date}}</span>
                           <h2><a href="{% url 'article_detail' pk=article.pk %}">{{ article.title }}</a></h2>
                           <p>{{ article.text|truncatewords:25 }}<a href="{% url 'article_detail' pk=article.pk %}">Czytaj dalej</a></p>
                        </div>
                     </div>
                     {% endfor %}
                  </div>

               </div>
            </div>
         </div>
      </section>

      <div class="team-holder theme-padding">
         <div class="container">
            <div class="main-heading-holder">
               <div class="main-heading sytle-2">
                  <h2 id="zawodnicy">Zespół</h2>
                  <p>Zawodnicy Piasta Człuchów</p>
               </div>
            </div>
            <div id="team-slider">
               <div class="container">

                  {% for player in players_random_4 %}
                     <div class="col-md-3">
                     <div class="team-column style-2">
                        {% if player.photo %}
                           <img src="{{ MEDIA_URL }}{{ player.photo }} " alt="" style="max-width: 100%; height: 368px;">
                        {% else %}
                           <img src="{% static 'images/unknown_player.jpg' %}" alt="#" style="max-width: 100%; height: 368px;" >
                        {% endif %}
                        <div class="player-name">
                           {% if player.position %}
                              <div class="desination-2">{{ player.position }}</div>
                           {% else %}
                              <div class="desination-2">Zawodnik</div>
                           {% endif %}
                           <h5>{{ player }}</h5>
                           {% if player.number %}
                              <span class="player-number">{{ player.number }}</span>
                           {% else %}
                              <span class="player-number">#</span>
                           {% endif %}
                        </div>

                        <div class="overlay">
                           <div class="team-detail-hover position-center-x">
                              <p>Lacus vulputate torquent mollis venenatis quisque suspendisse fermentum primis,</p>
                              <ul class="social-icons style-4 style-5">
                                 <li><a class="facebook" href="https://www.facebook.com/Piast-Cz%C5%82uch%C3%B3w-164465610242848/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                 <li><a class="twitter" href="https://twitter.com/piastczluchow" target="_blank"><i class="fa fa-twitter"></i></a></li>

                                 {% comment %}
                                 <li><a class="youtube" href="#" tabindex="0"><i class="fa fa-youtube-play"></i></a></li>
                                 <li><a class="pinterest" href="#" tabindex="0"><i class="fa fa-pinterest-p"></i></a></li>
                                 {% endcomment %}

                              </ul>
                              <a class="btn blue-btn" href=" /soccer/team-detail.html" tabindex="0">View Detail</a>
                           </div>
                        </div>
                     </div>
                  </div>
                  {% endfor %}

               </div>
            </div>
         </div>
      </div>

      <footer id="footer" class="footer">
         <div class="container">
            <div class="row">
               <div class="col-md-4">
                  <div class="full">
                     <div class="footer-widget">
                        <div class="footer-logo">
                           <a href="#"><img src="{% static 'images/footer-logo1.png' %}" alt="#" /></a>
                        </div>
                        <p>Nieoficjalna strona drużyny Piasta Człuchów. Nowinki, relacje z meczów Biało-Niebieskich oraz poczynania kadr juniorskich. Bądź Biało-Niebieski!</p>
                        <ul class="social-icons style-4 pull-left">
                           <li><a class="facebook" href="https://www.facebook.com/Piast-Cz%C5%82uch%C3%B3w-164465610242848/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                           <li><a class="twitter" href="https://twitter.com/piastczluchow" target="_blank"><i class="fa fa-twitter"></i></a></li>

                           {% comment %}
                           <li><a class="youtube" href="#"><i class="fa fa-youtube-play"></i></a></li>
                           <li><a class="pinterest" href="#"><i class="fa fa-pinterest-p"></i></a></li>
                           {% endcomment %}

                        </ul>
                     </div>
                  </div>
               </div>
               <div class="col-md-2">
                  <div class="full">
                     {% comment %}
                     <div class="footer-widget">
                        <h3>Menu</h3>
                        <ul class="footer-menu">
                           <li><a href="about.html">About Us</a></li>
                           <li><a href="team.html">Our Team</a></li>
                           <li><a href="news.html">Latest News</a></li>
                           <li><a href="matche.html">Recent Matchs</a></li>
                           <li><a href="blog.html">Our Blog</a></li>
                           <li><a href="contact.html">Contact Us</a></li>
                        </ul>
                     </div>
                     {% endcomment %}
                  </div>
               </div>
               <div class="col-md-3">
                  <div class="full">
                     <div class="footer-widget">
                        <h3 id="kontakt">Kontakt</h3>
                        <ul class="address-list">
                           <li><i class="fa fa-map-marker"></i>Szkolna 1, 77-300 Człuchów</li>
                           <li><i class="fa fa-phone"></i>Piast Człuchów: 598342553</li>
                           <li><i class="fa fa-phone"></i>Właściciel strony: 535077101</li>
                           <li><i style="font-size:20px;top:5px;" class="fa fa-envelope"></i> kuzma.dariusz@gmail.com</li>
                        </ul>
                     </div>
                  </div>
               </div>
               {% comment %}
               <div class="col-md-3">
                  <div class="full">
                     <div class="contact-footer">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d120615.72236587871!2d73.07890527988283!3d19.140910987164396!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1527759905404" width="600" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
                     </div>
                  </div>
               </div>
               {% endcomment %}
            </div>
         </div>
         <div class="footer-bottom">
            <div class="container">
               <p>Copyright © 2018 Distributed by <a href="https://themewagon.com/" target="_blank">ThemeWagon</a></p>
            </div>
         </div>
      </footer>
      <a href="#home" data-scroll class="dmtop global-radius"><i class="fa fa-angle-up"></i></a>
      <!-- ALL JS FILES -->
      <script src="{% static 'js/all.js' %}"></script>
      <!-- ALL PLUGINS -->
      <script src="{% static 'js/custom.js' %}"></script>
   </body>
</html>