{% extends 'core/base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="pl">
   <!-- Basic -->
   <head>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <!-- Mobile Metas -->
   <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
   <!-- Site Metas -->
   <title>Zespół</title>
   <meta name="keywords" content="">
   <meta name="description" content="">
   <meta name="author" content="">
   <!-- Site Icons -->
   <link rel="shortcut icon" href="" type="image/x-icon" />
   <link rel="apple-touch-icon" href="">
   <!-- Bootstrap CSS -->
   <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
   <!-- Site CSS -->
   <link rel="stylesheet" href="{% static 'style.css' %}">
   <!-- Colors CSS -->
   <link rel="stylesheet" href="{% static 'css/colors.css' %}">
   <!-- ALL VERSION CSS -->	
   <link rel="stylesheet" href="{% static 'css/versions.css' %}">
   <!-- Responsive CSS -->
   <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
   <!-- Custom CSS -->
   <link rel="stylesheet" href="{% static 'css/custom.css' %}">
   <!-- font family -->
   <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
   <!-- end font family -->
   <link rel="stylesheet" href="{% static 'css/3dslider.css' %}" />
   <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
   <link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
   <script src="{% static 'js/3dslider.js' %}"></script>
   </head>

   <body class="game_info" data-spy="scroll" data-target=".header">
      <!-- LOADER -->
      <div id="preloader">
         <img class="preloader" src="{% static 'images/loading-img.gif' %}" alt="">
      </div>
      <!-- END LOADER -->

      {% block content %}
      <section id="contant" class="contant main-heading team">
         <div class="row">
            <div class="container">

               {% for player in players %}

                  <div class="col-md-3">
                     <div class="team-column style-2">
                        {% if player.photo %}
                           <img src="{{ MEDIA_URL }}{{ player.photo }} " alt="" style="max-width: 100%; height: 368px;">
                        {% else %}
                           <img src="{% static 'images/default_player.jpg' %}" alt="#" style="max-width: 100%; height: 368px;" >
                        {% endif %}
                        <div class="player-name">
                           {% if player.position %}
                              <div class="desination-2">{{ player.position }}</div>
                           {% else %}
                              <div class="desination-2">Zawodnik</div>
                           {% endif %}
                           <h5>{{ player }}</h5>
                           {% if player.number %}
                              <span class="player-number">{{ player.number }}</span>
                           {% else %}
                              <span class="player-number">#</span>
                           {% endif %}
                        </div>

                        <div class="overlay">
                           <div class="team-detail-hover position-center-x">
                              <p>Lacus vulputate torquent mollis venenatis quisque suspendisse fermentum primis,</p>
                              <ul class="social-icons style-4 style-5">
                                 <li><a class="facebook" href="https://www.facebook.com/Piast-Cz%C5%82uch%C3%B3w-164465610242848/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                 <li><a class="twitter" href="https://twitter.com/piastczluchow" target="_blank"><i class="fa fa-twitter"></i></a></li>

                                 {% comment %}
                                 <li><a class="youtube" href="#" tabindex="0"><i class="fa fa-youtube-play"></i></a></li>
                                 <li><a class="pinterest" href="#" tabindex="0"><i class="fa fa-pinterest-p"></i></a></li>
                                 {% endcomment %}

                              </ul>
                              <a class="btn blue-btn" href=" /soccer/team-detail.html" tabindex="0">View Detail</a>
                           </div>
                        </div>
                     </div>
                  </div>

                  {% comment %}
                  <!-- Inny format karty zawodników -->
                  <div class="col-md-3 column">
                  <div class="card">
                        {% if player.photo %}
                           <img src="{{ MEDIA_URL }}{{ player.photo }} " alt="" style="max-width: 100%; height: 368px;">
                        {% else %}
                           <img src="{% static 'images/default_player.jpg' %}" alt="zawodnik" style="max-width: 100%; height: 368px;" >
                        {% endif %}

                     <img class="img-responsive" src="{% static 'images/img-1-4.jpg' %}" alt="John" style="width:100%">

                     <div class="">
                        <h4>{{ player.last_name }}</h4>
                        <h4>{{ player.first_name }}</h4>
                        <p class="title">{{ player.position }}</p>
                        <p>

                        <div class="center"><button class="button">{{ player.number }}</button></div>

                        </p>
                     </div>
                  </div>
               </div>
                  {% endcomment %}

               {% endfor %}

            </div>
         </div>
      </section>
      {% endblock %}

      <a href="#home" data-scroll class="dmtop global-radius"><i class="fa fa-angle-up"></i></a>
      <!-- ALL JS FILES -->
      <script src="{% static 'js/all.js' %}"></script>
      <!-- ALL PLUGINS -->
      <script src="{% static 'js/custom.js' %}"></script>
   </body>
</html>